
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @using prog3000assignment1.Models
    @model prog3000assignment1.Models.Request
}

<h1>We could not find the page you were looking for :(</h1>

