
@{
    ViewData["Title"] = "RequestForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @using prog3000assignment1.Models
    @model prog3000assignment1.Models.Request
}

<h1>Request Form</h1>

<body>

    <!-- CHANGE FOR TO ASP-FOR, CHANGE ID TO ASP-FOR, CHANGE ID AND FOR NAMES TO THE ONES FROM THE REQUESTS MODEL-->

    <form asp-action="RequestForm" method="post">
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input class="form-control" asp-for="Name" aria-describedby="nameHelp" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input type="email" class="form-control" asp-for="Email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label asp-for="PhoneNum">Phone Number</label>
            <input class="form-control" asp-for="PhoneNum" aria-describedby="phoneNumHelp" placeholder="Enter Phone Number">
        </div>

        <div>
            <label for="Role">Role</label>
        </div>

        <div class="form-group">
            <select multiple class="form-control" asp-for="Role">
                <option>Select an Equipment Category</option>
                <option value="1">Student</option>
                <option value="2">Professor</option>
            </select>
        </div>


        <div>
            <label for="Equipment">Equipment type</label>
        </div>

        <div class="form-group">
            <select multiple class="form-control" asp-for="EquipmentCat" asp-items="Html.GetEnumSelectList<EquipCategory>()">
                <option>Select an Equipment Category</option>
            </select>
        </div>
        <div class="form-group">
            <label for="InputReason">Request Details</label>
            <input class="form-control" id="exampleInputRequest" aria-describedby="nameHelp" placeholder="Enter request details">
        </div>

        <div id="submitbtn" style="margin-top: 50px">
            <button type="submit" class="btn btn-primary">Submit Request</button>
        </div>


    </form>
</body>

